<footer id="footer" class="overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="footer-top-area">
          <div class="row d-flex flex-wrap justify-content-between">
            <div class="col-lg-3 col-sm-6 pb-3">
              <img src="images/main-logo.png" alt="logo">
              <p>Nisi, purus vitae, ultrices nunc. Sit ac sit suscipit hendrerit...</p>
              <ul class="social-links d-flex list-unstyled">
                <!-- Social Icons -->
                <li>
                  <a href="#">
                    <svg class="facebook">
                      <use xlink:href="#facebook" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg class="instagram">
                      <use xlink:href="#instagram" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg class="twitter">
                      <use xlink:href="#twitter" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg class="linkedin">
                      <use xlink:href="#linkedin" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg class="youtube">
                      <use xlink:href="#youtube" />
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <!-- More Footer content -->
          </div>
        </div>
      </div>
    </div>
  </footer>
  